<div id="login-form" class="signup-container">
  <h2 class="signup-title">Log In</h2>
  <form action="/login" method="POST">

    <label class="form-label">Username</label>
      <input class="form-control" type="text" name="username" placeholder="Your username" />

    <label class="form-label mt-3">Password</label>
      <input class="form-control" type="password" name="password" placeholder="Your password" />

    <button class="btn btn-outline-warning mt-3" type="submit">Log In</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>