<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeafLet</title>
    <link rel="stylesheets" href="style.css"> <!-- Corrected link tag -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
   integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
   crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
<<<<<<< HEAD
</head>
<body>
    <h1></h1>
  
        <div class="map" id="map"> <!-- Use id="map" here -->
</div>
=======
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
   integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
   crossorigin=""></script>
</head>
<body>
    <h1></h1>
    <div class="container">
        <div class="locations">
                <div id="location1">
                    <a href="https://www.google.com/maps/dir//Avenida+Severiano+Falc%C3%A3o,+3B,+2685-379+Prior+Velho/@38.7840463,-9.2076319,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0xd19331945928cc3:0xaa8f6a15692c297c!2m2!1d-9.1252309!2d38.7840752?entry=ttu">Direction</a>
                    <a href="https://business.google.com/v/9-8-gravity-climbing-lisbon/05029728756280361031/c633/_?caid=18259669883&agid=140947790556&gclid=CjwKCAjw5_GmBhBIEiwA5QSMxHsp0RQ5IdKGrznr1EYfKTtgNhQJALmUrU8DGo9ZcnJjDjNGn6JJrBoCtoYQAvD_BwE">Gravity Climbing Lisbon</a>
                    <img src="/images/clif1.jpg">
                    <h2></h2>
                    <p>20 $/h</p>
                </div>
                <div id="location2">
                    <a href="https://www.google.com/maps/dir//Rua+Cais+de+Alf%C3%A2ndega+Velha+39,+1300-598+Lisboa/@38.6970481,-9.2793609,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0xd1ecbce014d09e9:0x2753631d82d9d8c1!2m2!1d-9.1969398!2d38.6970754?entry=ttu">Direction</a>
                    <a href="https://lisbonquake.com/en-GB?gclid=CjwKCAjw5_GmBhBIEiwA5QSMxA7uW2I_cYIfRNqWDr_GCZcECiefOxwkqIJv1pgYR74qEcQnvhxx3BoC_vcQAvD_BwE&utm_medium=cpc&keyword=lisbon%20attraction&campaignid=15640790368&utm_source=google&gad=1">Lisbon Earthquake Centre</a>
                    <img src="/images/clif2.jpg">
                    <h2></h2>
                    <p>35 $/h</p>
                </div>
                <div id="location3">
                    <a href="https://www.google.com/maps/dir/38.6188127,-9.1134795/Vertigo+Climbing+Wall,+Edif%C3%ADcio+Beira+Rio,+Av.+Infante+Dom+Henrique+Fra%C3%A7%C3%A3o+S,+1950-408+Lisboa/@38.6801382,-9.2221205,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0xd1933df7a049b51:0x91a99459fa54c8fc!2m2!1d-9.1019972!2d38.7399967?entry=ttu">Direction</a>
                    <a href="https://vertigoclimbing.pt/en/home/">Vertigo Climbing Wall</a>
                    <img src="/images/clif3.jpg">
                    <h2></h2>
                    <p>25 $/h</p>
                </div>
                <div id="location4">
                    <a href="https://www.google.com/maps/dir/38.6188127,-9.1134795/Vertical+Wall+Climbing+Lisbon,+Edif%C3%ADcio+Lobo+Rua+Angola+1+Frente,+2620-036+Olival+Basto/@38.700875,-9.2412928,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0xd19329f629df6d9:0xeea4d1e6c0db26fa!2m2!1d-9.1677207!2d38.7908045?entry=ttu">Direction</a>
                    <a href="https://verticalwall.pt/">Vertical Wall Climbing Lisbon</a>
                    <img src="/images/clif4.jpg">
                    <h2></h2>
                    <p>30 $/h</p>
                </div>
                <div id="location5">
                    <a href="https://www.google.com/maps/dir/38.6188127,-9.1134795/Climb+UP,+R.+de+Nossa+Sra.+da+Concei%C3%A7%C3%A3o+n%C2%BA3+armaz%C3%A9m+L,+2790-111+Carnaxide/@38.6713967,-9.254704,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0xd1ecd63396795ff:0xc9362d2feb9f39ba!2m2!1d-9.2330328!2d38.7218207?entry=ttu">Direction</a>
                    <a href="https://www.climbup.pt/">Climb UP</a>
                    <img src="/images/clif5.jpg">
                    <h2></h2>
                    <p>40 $/h</p>
                </div>
                <div id="location6">
                    <a href="https://www.google.com/maps/dir/38.6188127,-9.1134795/Escala25,+Avenida+da+%C3%8Dndia,+Pte.+25+de+Abril+52+Pilar+7,+1300-299+Lisboa/@38.6713967,-9.2290953,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0xd19355f5c1fbd45:0x57d9cd8724094895!2m2!1d-9.178636!2d38.7002922?entry=ttu">Direction</a>
                    <a href="https://escala25.com/en/">Escala25</a>
                    <img src="/images/clif6.jpg">
                    <h2></h2>
                    <p>20 $/h</p>
                </div>
                </div>
        <div class="map" id="map"> <!-- Use id="map" here -->
</div>
<script src="/js/map.js"></script>
>>>>>>> 0cc28ef66d302dc3f3b8481c0c42f6c92b13c1e6


    </div>


<<<<<<< HEAD
<script src="/js/map.js"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>
=======
>>>>>>> 0cc28ef66d302dc3f3b8481c0c42f6c92b13c1e6
</body>
</html>