body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 50px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  padding: 20px;
}

.map {
  width: 500px;
  height: 600px;

}
.locations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  background-color: azure;
}

.location div image {
  width: 100px;
}
.locations div image:hover {
  opacity: 0.5;
}

p {
  text-align: right;
  margin-right: 10px;
  font-size: 20px;
  
}

